<link rel="import" href="../polymer/polymer.html">

<custom-style>
  <style>
    html {
      /* Primary colours */
      --ev-primary: #49274a;
      --ev-primary-dark: #2a1b2a;

      /* Accent colours */
      --ev-cornflower-300: #83b3fd;
      --ev-cornflower-400: #6fa1ff;
      --ev-cornflower-500: #5e8bf5;
      --ev-cornflower-600: #517ce0;
      --ev-cornflower-700: #4570d6;

      --ev-spearmint-300: #59c1c7;
      --ev-spearmint-400: #40b0b7;
      --ev-spearmint-500: #3a9fa5;
      --ev-spearmint-600: #348d92;
      --ev-spearmint-700: #308084;

      --ev-guacamole-300: #a4cc2f;
      --ev-guacamole-400: #95bb25;
      --ev-guacamole-500: #87ab1e;
      --ev-guacamole-600: #7d9c21;
      --ev-guacamole-700: #74911c;

      --ev-mango-300: #fba74e;
      --ev-mango-400: #f79d3f;
      --ev-mango-500: #eb9233;
      --ev-mango-600: #e08626;
      --ev-mango-700: #d27c21;

      --ev-tomato-300: #ff6a6a;
      --ev-tomato-400: #f95555;
      --ev-tomato-500: #f14444;
      --ev-tomato-600: #dc3737;
      --ev-tomato-700: #cc3232;

      --ev-grape-300: #975d98;
      --ev-grape-400: #854d86;
      --ev-grape-500: #703f71;
      --ev-grape-600: #6b306c;
      --ev-grape-700: #632a64;

      --ev-violet-300: #c169b6;
      --ev-violet-400: #a7539c;
      --ev-violet-500: #97488d;
      --ev-violet-600: #913685;
      --ev-violet-700: #862d7a;

      /* Text colours */
      --ev-text-primary-color: #333333;
      --ev-text-secondary-color: #666666;

      /* Icon colours */
      --ev-icon-fill: #ffffff;
      --ev-icon-shadow: rgba(0, 0, 0, 0.2);
	  
	    /* investment forecast with chart */
	    --ev-help-icon-color: #737373;
      --ev-forecast-chart-body-color: #f9f9f9;
      --ev-forecast-chart-floating-text-color: #737373;

    }
  </style>
</custom-style>
