<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../font-nunito-sans/nunito-sans.html">

<custom-style>
  <style is="custom-style">
    html {
      --ev-font-common-base: {
        font-family: 'Roboto', 'Nunito Sans', Arial, Verdana, sans-serif;
        -webkit-font-smoothing: antialiased;
        color: var(--ev-text-primary-color);
        font-size: 16px;
      };
    }

    h1.ev-header {
      color: var(--ev-primary);
      font-size: 2.4em;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: -0.6px;
      margin: 30px 0 0 0;
      padding: 0;

      @apply --ev-font-common-base;
    }

    h1.ev-header.ev-header--inverted {
      background-color: var(--ev-primary);
      color: #fff;
      padding: 5px 15px;
      margin: 30px 0 20px 0;
    }

    h2.ev-header {
      color: var(--ev-text-primary-color);
      font-size: 2.2em;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.5px;
      margin: 25px 0 10px 0;
      padding: 0;

      @apply --ev-font-common-base;
    }

    h2.ev-header.ev-header--inverted {
      background-color: var(--ev-text-primary-color);
      color: #fff;
      padding: 5px 15px;
      margin: 25px 0 15px 0;
    }

    h3.ev-header {
      color: var(--ev-text-primary-color);
      font-size: 1.8em;
      font-weight: 400;
      line-height: 1.275;
      letter-spacing: -0.25px;
      margin: 22px 0 12px 0;
      padding: 0;

      @apply --ev-font-common-base;
    }

    h3.ev-header.ev-header--inverted {
      background-color: var(--ev-text-primary-color);
      color: #fff;
      padding: 5px 15px;
      margin: 22px 0 17px 0;
    }

    h4.ev-header {
      color: var(--ev-text-primary-color);
      font-size: 1.4em;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: -0.25px;
      margin: 16px 0 10px 0;
      padding: 0;

      @apply --ev-font-common-base;
    }

    h4.ev-header.ev-header--inverted {
      background-color: var(--ev-text-primary-color);
      color: #fff;
      padding: 5px 15px;
      margin: 16px 0 15px 0;
    }

    h5.ev-header {
      color: var(--ev-text-primary-color);
      font-size: 1.1em;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.25px;
      margin: 13px 0 8px 0;
      padding: 0;
      text-transform: uppercase;

      @apply --ev-font-common-base;
    }

    h5.ev-header.ev-header--inverted {
      background-color: var(--ev-text-primary-color);
      color: #fff;
      padding: 5px 15px;
      margin: 13px 0 12px 0;
    }

    h6.ev-header {
      color: var(--ev-text-primary-color);
      font-size: 1em;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: -0.25px;
      margin: 12px 0 5px 0;
      padding: 0;

      @apply --ev-font-common-base;
    }

    h6.ev-header.ev-header--inverted {
      background-color: var(--ev-text-primary-color);
      color: #fff;
      padding: 5px 15px;
      margin: 12px 0 10px 0;
    }
  </style>
</custom-style>
